*~
\#*\#
TAGS
*.dll
*.exe
*.sigdata
*.optdata
*.tar.gz
*.mdb
*.userprefs
TestResult.xml
FSharp.Refactor.Tests.dll.VisualState.xml
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
AssemblyInfo.fs
test-driver
bin/fsharp-refactor
test-results
obj
