*~
\#*\#
TAGS
*.dll
*.exe
*.sigdata
*.optdata
TestResult.xml
FSharp.Refactor.Tests.dll.VisualState.xml
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
src/AssemblyInfo.cs
test-driver
